<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp Page</title>
    {% load static %} {% comment %}
    <link rel="stylesheet" href="{% static 'src/Newshop/style.css' %}" />
    {% endcomment %}
    <link
      rel="shortcut icon"
      href="{% static 'src/Newshop/images/fav.png' %}"
      type="image/x-icon"
    />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <section class="py-16">
      <div class="w-[90%] md:w-[78%] mx-auto">
        <div
          class="bg-indigo-200 py-2 rounded h-[60vh] md:h-[70vh] md:w-[50vw] mx-auto flex flex-col justify-center items-center"
        >
          <form
            action=""
            method="POST"
            class="flex flex-col justify-center items-center space-y-8"
          >
            {% csrf_token %}
            <h1 class="text-gray-900 font-bold md:text-2xl text-xl">
              New<span class="text-4xl text-indigo-600">S</span>hop
            </h1>
            <!-- Username field -->
            <input
              type="name"
              name="name"
              placeholder="User name"
              class="border border-indigo-500 py-3 px-3 rounded-md outline-none bg-indigo-100 md:w-[20vw]"
              value="{{ form.user_name.value|default_if_none:'' }}"
            />

            <input
              type="number"
              name="number"
              placeholder="phone number"
              class="border border-indigo-500 py-3 px-3 rounded-md outline-none bg-indigo-100 md:w-[20vw]"
              value="{{form.phone_number.value|default_if_none:''}}"
            />

            <input
              type="email"
              name="email"
              placeholder="email"
              class="border border-indigo-500 py-3 px-3 rounded-md outline-none bg-indigo-100 md:w-[20vw]"
              value="{{form.email.value|default_if_none:''}}"
            />

            <input
              type="password"
              name="password"
              placeholder=" password"
              class="border border-indigo-500 py-3 px-3 rounded-md outline-none bg-indigo-100 md:w-[20vw]"
              value="{{ form.password.value|default_if_none:'' }}"
            />

            <button
              type="submit"
              class="border border-indigo-500 bg-indigo-400 text-white hover:bg-indigo-500 transition-all cursor-pointer py-3 px-3 rounded-md outline-none w-[70vw] md:w-[20vw]"
            >
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
